<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/header.css">
<header id="page-header">
    <div id="header-1">
        <i class="fas fa-users"></i>
        <a href="/">
            <h1>Social</h1>
        </a>
    </div>
    <ul id="header-2">
        <% if(locals.user){ %>
            <li>
                <a href="/users/profile/<%=profile_user.id%>"><%= user.name %></a>
            </li>
            <li>
                <a href="/users/signout">Sign Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/signin">Sign In</a>
            </li>
            <li>
                <a href="/users/signup">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>