<form action="/users/forgotPassword" method="POST">
    <input type="password" name="password" class="form-control"  placeholder="Enter New Password" required>
    <input type="password" name="confirmpassword" class="form-control"  placeholder="Enter Confirm Password" required>
    <button type="submit">Submit Password</button>
</form>