<link rel="stylesheet" href="/css/forgotpass.css">

<div class="card">
    <div class="card-header">
        Find your account
    </div>
    <div class="card-body">
        <h5 class="card-title">Please enter your email address to get reset link:</h5>
        <form action="/users/resetMail" method="POST">
            <div class="form-group">
                <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</div>
