<form action="" method="POST" >
    <label for="email">Enter your Email:</label>
    <input type="email" name="email" autocomplete="off" required>
    <label for="name">Enter Your Name:</label>
    <input type="text" name="name" autocomplete="off" required>
    <label for="password">Enter Password:</label>
    <input type="password" name="password" autocomplete="off" required>
    <input type="submit">
</form>