<form action="" method="POST" >
    <label for="email">Enter Your Email Id:</label>
    <input type="email" name="email" autocomplete="off" required>
    <label for="password">Enter Password:</label>
    <input type="password" name="password" autocomplete="off" required>
    <input type="submit">
</form>