<link rel="stylesheet" href="/css/signIn.css">

<h1>Sign In</h1>
<form action="/users/create-session" method="POST" class="signin" >
    <label for="email">Enter  Email__Id:</label>
    <input type="email" name="email" autocomplete="off" required><br>
    <label for="password">Enter Password:</label>
    <input type="password" name="password" autocomplete="off" required><br>
    <input type="submit" value="Sign In" id="btn">
</form>