<div>
    <p>Hi, <h5><strong><%= comment.user.name %></strong></h5></p>
    <br>
    <br>
    <p>Your Comment <strong><%=comment.content%></strong> just published on Social</p>
    <br>
    <br>
    <h3>Thanks</h3>
</div>