.page-footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(35, 9, 71, 0.884);
}

.page-footer #footer-1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.page-footer #footer-2 {
  display: flex;
  flex-direction: row-reverse;
}

.page-footer #footer-2 ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.page-footer #footer-2 ul li {
  list-style: none;
  color: whitesmoke;
}
