<div>
    <p>Hi <%= user.name %>!</p>
    <br>
    <br>
    <p>To change your password use <a href="http://localhost:8000/users/forgotPasswordLink"><p style="background-color: red;">Reset Password</p></a></p>
    <p>Please Change your password once you login.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>
